<!DOCTYPE html>
<html>
    <head>
        <title> About Me</title>
        <link rel= "icon" href="img/weather.jpg">
        
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="main_Content">
            {{>header}}
        <img class="portrait" src="img/rem.png" alt="Rem">
        <p> This site was created by Ajay Prajapati. It uses data from mapbox.com and darksky.net!!!</p>
        </div>
        {{>footer}}
    </body>
</html>