<!DOCTYPE html>
<html>
    <head>
        <title> Weather</title>
        <link rel= "icon" href="img/weather.jpg">
        
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <h1> Weather</h1>
        <div class="main_Content">
            {{>header}}
        <p> {{forecast}} </p>
        <p> {{location}} </p>
        </div>
        {{>footer}}
    </body>
</html>